.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    background-color: red;
    border: 1px solid #ccd3d8;
    box-sizing: border-box;
    border-radius: 4px;
}

.clusterContent {
    min-height: auto;
    cursor: pointer;

    &>div:first-child {
        margin-bottom: 0;
    }

    &>div:last-child {
        display: none;
    }
}

.expanded {
    min-height: 130px;
    margin-top: 20px;

    &>div:last-child {
        display: flex;
    }

    .content {
        display: block;
    }

     .arrow {
         transform-origin: center center;
         transform: rotate(90deg);
     }
}


.mainContent{
     display: flex;
     padding: 12px;
     height: 64px;
     line-height: 20px;
     background-color: #fff;
     border: 1px solid #ccd3db;
     border-radius: 4px;
     cursor: pointer;
     transition: all 0.3s;
     margin-top: 20px;

     .clusterName {
          position: relative;
          margin-right: 12px;
     }

    .tableContent {
        display: table;
        table-layout: fixed;
        width: calc(100% - 52px);
        line-height: 20px;

        .text {
            display: table-cell;
            vertical-align: middle;
            width: 16%;
            padding-right: 20px;

            font-size:12px;
            font-weight: 600;
            line-height: 20px;

            &:first-of-type {
                width: 28%;
            }
        }
    }


}

.liContent{
    display: none;
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
}

.checklist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    margin: 5px 0;
    height: 36px;
    background-color: #F9FBFD;

    width: 100%;

        &:last-child {
            margin-bottom: 0;
        }

        .message{
            left: 10%;
        }
}