apiVersion: kubeeyeplugins.kubesphere.io/v1alpha1
kind: PluginSubscription
metadata:
  namespace: kubeeye-system
  name: kubebench
spec:
  enabled: true

---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: kubeeye-system
  name: kubebench
data:
  kubebench: |
    apiVersion: v1
    kind: ServiceAccount
    metadata:
      name: kubebench
      namespace: kubeeye-system
    ---
    apiVersion: rbac.authorization.k8s.io/v1
    kind: Role
    metadata:
      name: kubebench-role
      namespace: kubeeye-system
    rules:
      - apiGroups:
          - ""
        resources:
          - configmaps
        verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
      - apiGroups:
          - coordination.k8s.io
        resources:
          - leases
        verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
      - apiGroups:
          - ""
        resources:
          - events
        verbs:
          - create
          - patch
    ---
    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRole
    metadata:
      creationTimestamp: null
      name: kubebench-clusterrole
    rules:
      - apiGroups:
          - kubeeye.kubesphere.io
        resources:
          - plugins
        verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
      - apiGroups:
          - kubeeye.kubesphere.io
        resources:
          - plugins/finalizers
        verbs:
          - update
      - apiGroups:
          - kubeeye.kubesphere.io
        resources:
          - plugins/status
        verbs:
          - get
          - patch
          - update
    ---
    apiVersion: rbac.authorization.k8s.io/v1
    kind: RoleBinding
    metadata:
      name: kubebench-rolebinding
      namespace: kubeeye-system
    roleRef:
      apiGroup: rbac.authorization.k8s.io
      kind: Role
      name: kubebench-role
    subjects:
      - kind: ServiceAccount
        name: kubebench
        namespace: kubeeye-system
    ---
    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRoleBinding
    metadata:
      name: kubebench-rolebinding
    roleRef:
      apiGroup: rbac.authorization.k8s.io
      kind: ClusterRole
      name: kubebench-clusterrole
    subjects:
      - kind: ServiceAccount
        name: kubebench
        namespace: kubeeye-system
    ---
    apiVersion: v1
    kind: Service
    metadata:
      labels:
        control-plane: kubebench
      name: kubebench
      namespace: kubeeye-system
    spec:
      ports:
        - name: api
          port: 80
          protocol: TCP
          targetPort: 80
      selector:
        control-plane: kubebench
    ---
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      labels:
        control-plane: kubebench
      name: kubebench
      namespace: kubeeye-system
    spec:
      replicas: 1
      selector:
        matchLabels:
          control-plane: kubebench
      template:
        metadata:
          labels:
            control-plane: kubebench
        spec:
          containers:
            - image: kubesphere.io/kubebench:latest
              name: kubebench
              imagePullPolicy: IfNotPresent
              livenessProbe:
                httpGet:
                  path: /healthz
                  port: 80
                initialDelaySeconds: 15
                periodSeconds: 20
              readinessProbe:
                httpGet:
                  path: /healthz
                  port: 80
                initialDelaySeconds: 5
                periodSeconds: 10
              resources:
                limits:
                  cpu: 100m
                  memory: 512Mi
                requests:
                  cpu: 10m
                  memory: 64Mi
              securityContext:
                allowPrivilegeEscalation: false
          securityContext:
            runAsNonRoot: true
          serviceAccountName: kubebench
          terminationGracePeriodSeconds: 10